{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AudioNote{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<script src="{% static 'js/main.js' %}" type="module"></script>
</head>
<body>
    <header>
		{% include 'navbar.html' %}
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
				<li class="{{ message.tags }}">{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
    </header>
    <main>
        {% block content %}
        <!-- Main content will be inserted here by child templates -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 AudioNote</p>
    </footer>
</body>
</html>
