@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "animations.css";
@import "messages/messages.css";
@import "homepage.css";
@import "forms.css";
@import "variables.css";

* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins';
}

body {
	background-color: var(--main);
}

main {
	color: var(--text-main);
}

footer {
	position: absolute;
	bottom: 0px;
	background-color: var(--secondary);
	width: 100%;
	padding: 10px;
	color: var(--text-main);
}

.super-container {
	display: flex;
	flex-direction: column;
	gap: 30px;
	max-width: 600px;
	margin: 0 auto;
}

.container {
	display: flex;
	flex-direction: column;
	padding: 0 10px;
	justify-content: center;
	gap: 5px;
}

.container.center {
	display: flex;
	margin-top: 15vh; 
}


.container button {
	text-decoration: none;
	color: white;
	border: none;
	padding: 10px;
	margin: 0 auto;
	text-align: center;
	border-radius: 5px;
	width: 100%;
	background-color: var(--button-main);
}
.container button .button-a {
	display: flex;
	justify-content: center;
	text-decoration: none;
	width: 100%;
	color: var(--text-main);
}

.container button:hover {
	transition: .4s;
	background-color: var(--button-hover);
}

.heading {
	text-align: center;	
}

.subheading {
	text-align: center;
}


.jumbotron {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.navbar {
	padding: 10px;
	border-style: solid;
	color: #F8F4E1;
	border-color: #543310;
	background-color: var(--secondary);
}

.link-container {
	display: flex;
	align-items: center;
	gap: 5px;
}
.link-container li {
	list-style: none;
	padding-left: 5px;
	padding-right: 5px;
}

.link-container li a {
	text-decoration: none;
	color: inherit;
}
.link-container li a::after {
	content: "";
	background: black;
	margin: auto;
	display: block;
	transition: .4s;
	height: 1px;
	width: 0px;
}
.link-container li a:hover::after {
	width: 100%;
}

.hamburger-button {
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-items: flex-end;
	cursor: pointer;
	background-color: red;
	width: 30px;
	padding: 5px;
}

.hamburger-button .line {
	height: 5px;
	width: 30px;
	background-color: #FFFFFF;
}

 #sidebar {
	top: 0;
	z-index: 100;
	padding: 10px 0;
	position: fixed;
	width: 100%;
	left: -100%;
	background-color: #74512D;
	transition: .4s;
	min-height: 100vh;
}

#sidebar.active {
	left: 0;
}

#sidebar .sidebar-wrapper {
	display: flex;
	flex-direction: column;
	padding: 10px;
	gap: 10px;
}

#sidebar .sidebar-wrapper .mobile-links {
	list-style: none;
}

@media (max-width: 768px) {
	.link-container {
		display: none;
	}
}

@media (min-width: 768px) {
	.hamburger-button {
		display: none;
	}
}
